body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: row;
}
a {
  text-decoration: none;
  border-bottom: 1px dotted #3794de;
}
#top {
  line-height: 3em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ca0000;
  background-color: #ff5555;
}
#top > .wrapper {
  display: flex;
}
#top nav {
  margin-left: auto;
  align-self: flex-end;
}
#top a {
  border-bottom: none;
  align-self: flex-start;
}
#sitenotice {
  margin-top: -2em;
  margin-bottom: 2em;
  background-color: #ffcaca;
  border-bottom: 1px solid #ff9191;
}
#sitenotice .wrapper {
  height: 2em;
  line-height: 2em;
}
.wrapper {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1000px;
}
#top-brand a {
  font-weight: bold;
}
#top-brand a img {
  vertical-align: middle;
  margin-right: 2px;
  margin-top: -4px;
}
#top-brand a.active {
  background-color: #ec4141;
}
#top-nav {
  display: inline-block;
  margin-left: 2em;
}
#top-nav ul {
  display: flex;
  align-items: center;
  margin: 0;
}
#top-nav li a, #top-brand a {
  padding: 0 1em;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
#top-nav li.active {
  background-color: #ec4141;
}
#main { flex: 1; }
#footer {
  color:white;
  height: 3em;
  padding: 0 2em;
  margin-top: 2em;
  border-top: 1px solid #ca0000;
  background-color: #ff5555;
}
#footer a {
  color: inherit;
  border-bottom-color: white;
}
#footer-inner {
  display: flex;
  align-items: center;
  line-height: 3em; /* TODO: This shouldn't be necessary.. */
}
#footer .version {
  margin-left: auto;
}
