<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>The Node.py Package Registry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/js/kube.min.js"></script>
    <link rel="stylesheet" href="{{static('css/codehilite.css')}}">
    <link rel="stylesheet" href="{{static('css/index.css')}}">

    {% if config.google_analytics %}
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{config.google_analytics}}', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    {% endif %}
  </head>
  <body>
    <header class="row">
      <span>
        <a class="brand" href="/">
          <i class="fa fa-heart" aria-hidden="true"></i>
          The Node.py Package Registry
        </a>
        <sub>&ndash; inspired by <a href="https://npmjs.org/">npm</a></sub>
      </span>
    </header>
    <main class="row">
      <nav class="col col-2">
        {% block nav_brand %}
        <h1><a href="{{url_for('index')}}">The Node.py Package Registry</a></h1>
        <hr/>
        {% endblock %}
        {% block nav_search %}
        <form id="search" action="{{url_for('search')}}">
          <input name="q" placeholder="Find Packages..." value="{{request.args.get('q', '')}}">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <hr/>
        {% endblock %}
        {% block nav_links %}
        <ul>
          <h3>Registry</h3>
          <li class="{{active('browse')}}"><a href="{{url_for('browse')}}">Packages</a></li>
          <li class="{{active('users')}}"><a href="{{url_for('users')}}">Users</a></li>
          <li><a href="{{url_for('docs')}}">Documentation</a></li>
        </ul>
        {% endblock %}
        {% block nav_bottom %}
        {% endblock %}
        <span class="smaller">
          {% if not config.accept_registrations %}
          <em>Note: new registrations are closed.</em>
          {% endif %}
        </span>
      </nav>
      <article class="col col-10">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <footer class="row">
      <span class="version">
        <a href="https://github.com/nodepy/registry">@nodepy/registry</a> v{{VERSION}}
      </span>
      <span class="links">
        <ul>
          <li>Copyright &copy; 2017 &ndash; Niklas Rosenstein</li>
          <li>
            <a href="https://github.com/nodepy">
              <i class="fa fa-github" aria-hidden="true"></i> nodepy
            </a>
          </li>
          <li><a href="{{url_for('terms')}}">terms</a></li>
          <li><a href="{{url_for('info')}}">info</a></li>
        </ul>
      </span>
    </footer>
  </body>
</html>
