{% extends "registry/_base.html" %}

{% macro render_nav(pages) %}
  <ul>
  {% for page in pages %}
    <li {% if page.path == active_page %}class="active"{% endif %}>
      <a {% if page.path is not none %}href="{{url_for('docs', path=page.path)}}"{% endif %}>{{page.name}}</a>
    </li>
    {% if page.path == active_page %}
      {{ toc|safe }}
    {% endif %}
    {% if page.subs %}
      {{ render_nav(page.subs) }}
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}

{% block nav_links %}
  <h3>Node.py Documentation</h3>
  {{ render_nav(pages) }}
{% endblock %}
{% block content %}
  <h1>{{ page.name }}</h1>
  {{ content|safe }}
{% endblock %}
