{% extends "registry/_base.html" %}
{% block content %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Package</th>
          <th>Version</th>
          <th>Description</th>
          <th>License</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        {% for pkg in Package.objects().all() %}
        <tr>
          <td><a href="{{ url_for('package', package=pkg.name) }}">{{ pkg.name }}</a></td>
          <td>{{ pkg.latest.version if pkg.latest else '' }}</td>
          <td>{{ pkg.latest.manifest_json.description if pkg.latest else '-' }}</td>
          <td>{{ pkg.latest.manifest_json.license if pkg.latest else '' }}</td>
          <td><a href="{{ url_for('user', user=pkg.owner.name) }}">{{ pkg.owner.name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
