{% extends "registry/_base.html" %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/codehilite.css') }}">
{% endblock %}
{% block content %}

<p class="small">
  You are viewing <code>{{ package.name + ('@' + version.version if version else '') }}</code>.
  {% if version and version.version != package.latest.version %}
    The latest version is <a href="{{ url_for('package', package=package.name, version=package.latest.version) }}">{{ package.latest.version }}</a>
  {% endif %}
  The package is owned by <a href="{{ url_for('user', user=package.owner.name) }}">{{ package.owner.name }}</a>.
</p>
<nav class="tabs" data-component="tabs">
  <ul>
    {% if version %}
    <li class="active"><a href="#package-description">Description</a></li>
    <li><a href="#package-manifest">Manifest</a></li>
    <li><a href="#package-files">Files</a></li>
    <li><a href="#package-versions">Versions</a></li>
    {% endif %}
    {% if version and version.manifest_json.repository %}
    <li><a href="#dummy" data-absolute-url="{{ version.manifest_json.repository }}"><i class="fa fa-external-link" aria-hidden="true"></i> Repository</a></li>
    {% endif %}
  </ul>
</nav>

<script>
$('.tabs a[data-absolute-url]').on('click', function () {
  document.location.replace($(this).attr('data-absolute-url'))
})
</script>

{% if version %}
<div id="package-description" class="tab-pane in active">
  {% if version.readme %}
  <div class="package-readme">
    {{ version.readme|markdown|safe }}
  </div>
  {% else %}
  <p>No package description provided.</p>
  {% endif %}
</div>
<div id="package-manifest" class="tab-pane">
  {{ version.manifest|pygmentize('json') }}
</div>
<div id="package-files" class="tab-pane">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {% for fn in version.files %}
        <tr>
          <td><a href="{{ url_for('download', package=package.name, version=version.version, filename=fn) }}">{{ fn }}</a></td>
          <td>{{ version.get_file_size(fn)|sizeof_fmt }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<div id="package-versions" class="tab-pane">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Version</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for v in PackageVersion.objects(package=package).all() %}
        <tr>
          <td><a href="{{ v.get_url() }}">{{ v.version }}</a></td>
          <td>{{ v.manifest_json.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
