{% extends "registry/_base.html" %}
{% block content %}
  <h1>{{ user.name }}</h1>
  <div id="packages">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Package</th>
          <th>Version</th>
          <th>Description</th>
          <th>License</th>
        </tr>
      </thead>
      <tbody>
        {% for pkg in Package.objects(owner=user).all() %}
          <tr>
            <td><a href="{{ url_for('package', package=pkg.name) }}">{{ pkg.name }}</a></td>
            <td>{{ pkg.latest.version if pkg.latest else '' }}</td>
            <td>{{ pkg.latest.manifest_json.description if pkg.latest else '' }}</td>
            <td>{{ pkg.latest.manifest_json.license if pkg.latest else '' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
