
@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

/* Variables */
$padding: 20px;
$font-size: 14px;
$line-height: $font-size*1.5;

$font-title: 'Open Sans', sans-serif;
$font-body: 'Roboto', sans-serif;

$primary-bg: white;  // #456c92
$primary-bg-alt: #1e3f61;
$primary-bg-alt2: #162331;
$primary-fg: #eeeeee;

$header-bg: #ab2020;
$header-bg-alt: #861818;
$header-height: 40px;
$header-fg: white;

$sidebar-width: 250px;
$sidebar-max-screen-width: 750px;
$link-color: #3af;
$nav-item-height: 30px;
$footer-padding: $padding;
$monokai-bg: #272822;

/* General */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font: $font-size $font-body;
  line-height: $line-height;
  color: $primary-fg;
  background-color: $primary-bg;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: $font-title;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

pre, pre code {
  color: #dddddd;
  background-color: $monokai-bg;
}

/* Header */
header {
  height: $header-height;
  line-height: $header-height;
  padding: 0 $padding;
  background-color: $header-bg;
  border-bottom: 1px solid $header-bg-alt;
}

header .brand i {
  padding-right: 1em;
}

header a:hover {
  font-weight: bold;
}

#sidebar-toggle {
  float: right;
  background-color: $header-bg;
  border-radius: 0;
  padding: .5em 1em;
  background-color: rgba(255, 255, 255, 0.1);

  @media (min-width: $sidebar-max-screen-width) {
    display: none;
  }
}

/* Footer */
footer {
  display: flex;
  padding: $footer-padding;
  background-color: $primary-bg-alt;
  border-top: 2px solid $primary-bg-alt2;

  a, a:hover, a:focus, a:visited {
    color: $link-color;
  }

  .version {
    flex: 1;
  }

  .links ul {
    display: flex;
    margin: 0;

    li {
      margin-left: 1em;
      list-style: none;
    }
    li:first-child {
      margin-left: 0;
    }
  }

  @media (max-width: $sidebar-max-screen-width) {
    flex-direction: column;
    line-height: $nav-item-height;
  }

}

/* Main */
main {
  flex: 1;
  display: flex;

  @media (max-width: $sidebar-max-screen-width) {
    display: block;
  }

  a, a:hover, a:focus {
    color: $link-color;
  }
}

main .sidebar {
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  display: flex;
  flex-direction: column;
  color: $header-fg;
  padding: $padding;
  background-color: $header-bg;
  border-right: 2px solid $header-bg-alt;

  @media (max-width: $sidebar-max-screen-width) {
    display: none;
    min-width: none;
    max-width: none;
  }
}

main nav {
  hr {
    margin-top: 1em;
  }

  h3 {
    margin-top: 0;
  }

  a, a:hover, a:focus {
    color: $header-fg;
  }

  ul li {
    line-height: $nav-item-height;

    &.active a {
      font-weight: bold;
    }
  }
}

main #search {
  display: flex;
  margin-bottom: 0;

  input, button {
    border: 1px solid $header-bg-alt;
    border-radius: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }

  input {
    padding: 0 1em;
  }

  button {
    color: black;
    padding: 0 1em;
    border-left: none;
  }
}

main .flex2ndlast {
  > *:nth-last-child(2) {
    flex: 1;
  }
}

main .content {
  padding: $padding;
  color: black;
}
